{% extends 'base.html' %}

{% load static %}

{% load staticfiles %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title> Django REST MPTT Serializing examples </title>

</head>
<body>    
  
<div class="container">

    <br>
    <br>
    <br>
    REST API:
    <br> 
    <a href="/api/risk/mammals/">Risk: Mammals & descendants</a>
    <br> 
    <a href="/api/responses/cats/">Response: Cats</a>
    <br> 
    <br> 
    <a href="/api/country/XH/">Country: South America & descendants</a>
    <br> 
    <a href="/api/country/BR/">Country: Brazil</a>
  

<!--

    <a href="/">Nested-serialize-recursive</a>
    <br> 
    <br>

--> 
    <br> 
    <br> 
    Risk Dashboard:
    <br> 
    <a href="/risk/root/">All risks</a>  
    <br> 
    <a href="/risk/root/mammals/felines/cats/">Cats only</a> 
    <br>  
    <br>
    Country Dashboard:
    <br> 
    <a href="/country/root/">All countries</a>  
    <br> 
    <a href="/country/root/XH/BR/">Brazil only</a> 
    <br>  
    <br>
    Admin:
    <br>
    <a href="/admin/risk/">Admin</a>
    <br>
    <br>
<!--
    CRUD (html):
    <br>
    <a href="/risk/create/">Create</a>
    <br>
    <a href="/risk/2/">Read #2 </a>
    <br>
    <a href="/risk/2/update/">Update#2 (bug)</a>
    <br>
    <a href="/risk/10/delete/">Delete #10</a>
    <br>
    <a href="/risk/5/move/">Move #5</a>
    <br>
    <br>
    Trees (pending):
    <br>
    <a href="/">Risks</a>
    <br> 
    <a href="/">Responses</a>
    <br>        
    <br> 
-->
    <br> 
    To Do:
    <br>    
    -Dynamically filter items in the datatable according to the last object of the breadcrumb
    <br>
     -Put 2 datatables (Risk & Response) together on the Risk dashboard 
    <br>

</div>


</body>
</html>

{% endblock %}

